In [37]:
import duckdb
import lancedb
import numpy as np
import pandas as pd

# Loading two ways

In [3]:
df = pd.read_csv(
    "/Users/jernejfrank/Documents/code/probable-guacamole/datasets/Auto.csv"
)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
df_from_data = pd.read_csv(
    "/Users/jernejfrank/Documents/code/probable-guacamole/datasets/Auto.data",
    delim_whitespace=True,
)
df_from_data

/var/folders/_5/qn4m8hy526b4gsrvq_fc20x00000gn/T/ipykernel_90104/3599916317.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_from_data = pd.read_csv("/Users/jernejfrank/Documents/code/probable-guacamole/datasets/Auto.data", delim_whitespace=True)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

# Horsepower - Datacleaning

In [5]:
df["horsepower"]

0      130
1      165
2      150
3      150
4      140
      ...
392     86
393     52
394     84
395     79
396     82
Name: horsepower, Length: 397, dtype: object

In [7]:
np.unique(df["horsepower"])

array(['100', '102', '103', '105', '107', '108', '110', '112', '113',
       '115', '116', '120', '122', '125', '129', '130', '132', '133',
       '135', '137', '138', '139', '140', '142', '145', '148', '149',
       '150', '152', '153', '155', '158', '160', '165', '167', '170',
       '175', '180', '190', '193', '198', '200', '208', '210', '215',
       '220', '225', '230', '46', '48', '49', '52', '53', '54', '58',
       '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70',
       '71', '72', '74', '75', '76', '77', '78', '79', '80', '81', '82',
       '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93',
       '94', '95', '96', '97', '98', '?'], dtype=object)

In [9]:
df = pd.read_csv(
    "/Users/jernejfrank/Documents/code/probable-guacamole/datasets/Auto.data",
    na_values=["?"],
    delim_whitespace=True,
)
df

/var/folders/_5/qn4m8hy526b4gsrvq_fc20x00000gn/T/ipykernel_90104/1064456428.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [10]:
df["horsepower"].sum()

np.float64(40952.0)

In [12]:
df.shape

(397, 9)

In [13]:
df_new = df.dropna()
df_new.shape

(392, 9)

# Selecting data

In [22]:
df = df_new
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [23]:
df[:3]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite

In [24]:
df[df["year"] == 80]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
309,41.5,4,98.0,76.0,2144.0,14.7,80,2,vw rabbit
310,38.1,4,89.0,60.0,1968.0,18.8,80,3,toyota corolla tercel
311,32.1,4,98.0,70.0,2120.0,15.5,80,1,chevrolet chevette
312,37.2,4,86.0,65.0,2019.0,16.4,80,3,datsun 310
313,28.0,4,151.0,90.0,2678.0,16.5,80,1,chevrolet citation
314,26.4,4,140.0,88.0,2870.0,18.1,80,1,ford fairmont
315,24.3,4,151.0,90.0,3003.0,20.1,80,1,amc concord
316,19.1,6,225.0,90.0,3381.0,18.7,80,1,dodge aspen
317,34.3,4,97.0,78.0,2188.0,15.8,80,2,audi 4000
318,29.8,4,134.0,90.0,2711.0,15.5,80,3,toyota corona liftback
319,31.3,4,120.0,75.0,2542.0,17.5,80,3,mazda 626
320,37.0,4,119.0,92.0,2434.0,15.0,80,3,datsun 510 hatchback
321,32.2,4,108.0,75.0,2265.0,15.2,80,3,toyota corolla
322,46.6,4,86.0,65.0,2110.0,17.9,80,3,mazda glc
323,27.9,4,156.0,105.0,2800.0,14.4,80,1,dodge colt
324,40.8,4,85.0,65.0,2110.0,19.2,80,3,datsun 210
325,44.3,4,90.0,48.0,2085.0,21.7,80,2,vw rabbit c (diesel)
326,43.4,4,90.0,48.0,2335.0,23.7,80,2,vw dasher (diesel)
327,36.4,5,121.0,67.0,2950.0,19.9,80,2,audi 5000s (diesel)
328,30.0,4,146.0,67.0,3250.0,21.8,80,2,mercedes-benz 240d
329,44.6,4,91.0,67.0,1850.0,13.8,80,3,honda civic 1500 gl
331,33.8,4,97.0,67.0,2145.0,18.0,80,3,subaru dl
332,29.8,4,89.0,62.0,1845.0,15.3,80,2,vokswagen rabbit
333,32.7,6,168.0,132.0,2910.0,11.4,80,3,datsun 280-zx
334,23.7,3,70.0,100.0,2420.0,12.5,80,3,mazda rx-7 gs
335,35.0,4,122.0,88.0,2500.0,15.1,80,2,triumph tr7 coupe
337,32.4,4,107.0,72.0,2290.0,17.0,80,3,honda accord

In [25]:
df = df.set_index("name")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504.0,12.0,70,1
buick skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,1
plymouth satellite,18.0,8,318.0,150.0,3436.0,11.0,70,1
amc rebel sst,16.0,8,304.0,150.0,3433.0,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790.0,15.6,82,1
vw pickup,44.0,4,97.0,52.0,2130.0,24.6,82,2
dodge rampage,32.0,4,135.0,84.0,2295.0,11.6,82,1
ford ranger,28.0,4,120.0,79.0,2625.0,18.6,82,1
chevy s-10,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [26]:
rows = ["amc rebel sst", "ford torino"]
df.loc[rows]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150.0,3433.0,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [27]:
df.iloc[[3, 4]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150.0,3433.0,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [28]:
df.iloc[:, [0, 2, 3]]

                            mpg  displacement  horsepower
name
chevrolet chevelle malibu  18.0         307.0       130.0
buick skylark 320          15.0         350.0       165.0
plymouth satellite         18.0         318.0       150.0
amc rebel sst              16.0         304.0       150.0
ford torino                17.0         302.0       140.0
...                         ...           ...         ...
ford mustang gl            27.0         140.0        86.0
vw pickup                  44.0          97.0        52.0
dodge rampage              32.0         135.0        84.0
ford ranger                28.0         120.0        79.0
chevy s-10                 31.0         119.0        82.0

[392 rows x 3 columns]

In [29]:
df.iloc[[3, 4], [0, 2, 3]]

                mpg  displacement  horsepower
name
amc rebel sst  16.0         304.0       150.0
ford torino    17.0         302.0       140.0

In [31]:
df.loc[["ford galaxie 500"], ["mpg", "origin"]]

                   mpg  origin
name
ford galaxie 500  15.0       1
ford galaxie 500  14.0       1
ford galaxie 500  14.0       1

# Advanced selection

## Pandas

In [33]:
df.loc[df["year"] > 80, ["weight", "origin"]]

                                   weight  origin
name
plymouth reliant                   2490.0       1
buick skylark                      2635.0       1
dodge aries wagon (sw)             2620.0       1
chevrolet citation                 2725.0       1
plymouth reliant                   2385.0       1
toyota starlet                     1755.0       3
plymouth champ                     1875.0       1
honda civic 1300                   1760.0       3
subaru                             2065.0       3
datsun 210 mpg                     1975.0       3
toyota tercel                      2050.0       3
mazda glc 4                        1985.0       3
plymouth horizon 4                 2215.0       1
ford escort 4w                     2045.0       1
ford escort 2h                     2380.0       1
volkswagen jetta                   2190.0       2
honda prelude                      2210.0       3
toyota corolla                     2350.0       3
datsun 200sx                       2615.0       3
mazda 626                          2635.0       3
peugeot 505s turbo diesel          3230.0       2
volvo diesel                       3160.0       2
toyota cressida                    2900.0       3
datsun 810 maxima                  2930.0       3
buick century                      3415.0       1
oldsmobile cutlass ls              3725.0       1
ford granada gl                    3060.0       1
chrysler lebaron salon             3465.0       1
chevrolet cavalier                 2605.0       1
chevrolet cavalier wagon           2640.0       1
chevrolet cavalier 2-door          2395.0       1
pontiac j2000 se hatchback         2575.0       1
dodge aries se                     2525.0       1
pontiac phoenix                    2735.0       1
ford fairmont futura               2865.0       1
volkswagen rabbit l                1980.0       2
mazda glc custom l                 2025.0       3
mazda glc custom                   1970.0       3
plymouth horizon miser             2125.0       1
mercury lynx l                     2125.0       1
nissan stanza xe                   2160.0       3
honda accord                       2205.0       3
toyota corolla                     2245.0       3
honda civic                        1965.0       3
honda civic (auto)                 1965.0       3
datsun 310 gx                      1995.0       3
buick century limited              2945.0       1
oldsmobile cutlass ciera (diesel)  3015.0       1
chrysler lebaron medallion         2585.0       1
ford granada l                     2835.0       1
toyota celica gt                   2665.0       3
dodge charger 2.2                  2370.0       1
chevrolet camaro                   2950.0       1
ford mustang gl                    2790.0       1
vw pickup                          2130.0       2
dodge rampage                      2295.0       1
ford ranger                        2625.0       1
chevy s-10                         2720.0       1

In [65]:
df.loc[(df["year"] > 80) & (df["mpg"] > 30), ["weight", "origin"]]

                                   weight  origin
name
toyota starlet                     1755.0       3
plymouth champ                     1875.0       1
honda civic 1300                   1760.0       3
subaru                             2065.0       3
datsun 210 mpg                     1975.0       3
toyota tercel                      2050.0       3
mazda glc 4                        1985.0       3
plymouth horizon 4                 2215.0       1
ford escort 4w                     2045.0       1
volkswagen jetta                   2190.0       2
honda prelude                      2210.0       3
toyota corolla                     2350.0       3
datsun 200sx                       2615.0       3
mazda 626                          2635.0       3
volvo diesel                       3160.0       2
chevrolet cavalier 2-door          2395.0       1
pontiac j2000 se hatchback         2575.0       1
volkswagen rabbit l                1980.0       2
mazda glc custom l                 2025.0       3
mazda glc custom                   1970.0       3
plymouth horizon miser             2125.0       1
mercury lynx l                     2125.0       1
nissan stanza xe                   2160.0       3
honda accord                       2205.0       3
toyota corolla                     2245.0       3
honda civic                        1965.0       3
honda civic (auto)                 1965.0       3
datsun 310 gx                      1995.0       3
oldsmobile cutlass ciera (diesel)  3015.0       1
toyota celica gt                   2665.0       3
dodge charger 2.2                  2370.0       1
vw pickup                          2130.0       2
dodge rampage                      2295.0       1
chevy s-10                         2720.0       1

In [98]:
df.loc[
    (df["displacement"] < 300)
    & (df.index.str.contains("ford") | df.index.str.contains("datsun")),
    ["weight", "origin"],
].shape

(51, 2)

## Using SQL

In [49]:
db = lancedb.connect("/Users/jernejfrank/Documents/code/probable-guacamole/db/.lancedb")
db.table_names()

['Cars']

In [51]:
tbl = db.open_table("Cars")
cars_table = tbl.to_lance()

In [52]:
duckdb.query("SELECT * FROM cars_table")

┌────────┬───────────┬──────────────┬────────────┬────────┬──────────────┬───────┬────────┬────────────────────────────┐
│  mpg   │ cylinders │ displacement │ horsepower │ weight │ acceleration │ year  │ origin │            name            │
│ double │   int64   │    double    │  varchar   │ int64  │    double    │ int64 │ int64  │          varchar           │
├────────┼───────────┼──────────────┼────────────┼────────┼──────────────┼───────┼────────┼────────────────────────────┤
│   18.0 │         8 │        307.0 │ 130        │   3504 │         12.0 │    70 │      1 │ chevrolet chevelle malibu  │
│   15.0 │         8 │        350.0 │ 165        │   3693 │         11.5 │    70 │      1 │ buick skylark 320          │
│   18.0 │         8 │        318.0 │ 150        │   3436 │         11.0 │    70 │      1 │ plymouth satellite         │
│   16.0 │         8 │        304.0 │ 150        │   3433 │         12.0 │    70 │      1 │ amc rebel sst              │
│   17.0 │         8 │        302.0 │ 140        │   3449 │         10.5 │    70 │      1 │ ford torino                │
│   15.0 │         8 │        429.0 │ 198        │   4341 │         10.0 │    70 │      1 │ ford galaxie 500           │
│   14.0 │         8 │        454.0 │ 220        │   4354 │          9.0 │    70 │      1 │ chevrolet impala           │
│   14.0 │         8 │        440.0 │ 215        │   4312 │          8.5 │    70 │      1 │ plymouth fury iii          │
│   14.0 │         8 │        455.0 │ 225        │   4425 │         10.0 │    70 │      1 │ pontiac catalina           │
│   15.0 │         8 │        390.0 │ 190        │   3850 │          8.5 │    70 │      1 │ amc ambassador dpl         │
│     ·  │         · │          ·   │ ·          │     ·  │           ·  │     · │      · │         ·                  │
│     ·  │         · │          ·   │ ·          │     ·  │           ·  │     · │      · │         ·                  │
│     ·  │         · │          ·   │ ·          │     ·  │           ·  │     · │      · │         ·                  │
│   26.0 │         4 │        156.0 │ 92         │   2585 │         14.5 │    82 │      1 │ chrysler lebaron medallion │
│   22.0 │         6 │        232.0 │ 112        │   2835 │         14.7 │    82 │      1 │ ford granada l             │
│   32.0 │         4 │        144.0 │ 96         │   2665 │         13.9 │    82 │      3 │ toyota celica gt           │
│   36.0 │         4 │        135.0 │ 84         │   2370 │         13.0 │    82 │      1 │ dodge charger 2.2          │
│   27.0 │         4 │        151.0 │ 90         │   2950 │         17.3 │    82 │      1 │ chevrolet camaro           │
│   27.0 │         4 │        140.0 │ 86         │   2790 │         15.6 │    82 │      1 │ ford mustang gl            │
│   44.0 │         4 │         97.0 │ 52         │   2130 │         24.6 │    82 │      2 │ vw pickup                  │
│   32.0 │         4 │        135.0 │ 84         │   2295 │         11.6 │    82 │      1 │ dodge rampage              │
│   28.0 │         4 │        120.0 │ 79         │   2625 │         18.6 │    82 │      1 │ ford ranger                │
│   31.0 │         4 │        119.0 │ 82         │   2720 │         19.4 │    82 │      1 │ chevy s-10                 │
├────────┴───────────┴──────────────┴────────────┴────────┴──────────────┴───────┴────────┴────────────────────────────┤
│ 397 rows (20 shown)                                                                                        9 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [62]:
duckdb.query("SELECT year, weight , origin FROM cars_table WHERE year > 80")

┌───────┬────────┬────────┐
│ year  │ weight │ origin │
│ int64 │ int64  │ int64  │
├───────┼────────┼────────┤
│    81 │   2490 │      1 │
│    81 │   2635 │      1 │
│    81 │   2620 │      1 │
│    81 │   2725 │      1 │
│    81 │   2385 │      1 │
│    81 │   1755 │      3 │
│    81 │   1875 │      1 │
│    81 │   1760 │      3 │
│    81 │   2065 │      3 │
│    81 │   1975 │      3 │
│     · │     ·  │      · │
│     · │     ·  │      · │
│     · │     ·  │      · │
│    82 │   2585 │      1 │
│    82 │   2835 │      1 │
│    82 │   2665 │      3 │
│    82 │   2370 │      1 │
│    82 │   2950 │      1 │
│    82 │   2790 │      1 │
│    82 │   2130 │      2 │
│    82 │   2295 │      1 │
│    82 │   2625 │      1 │
│    82 │   2720 │      1 │
├───────┴────────┴────────┤
│   59 rows (20 shown)    │
└─────────────────────────┘

In [63]:
duckdb.query(
    "SELECT year"
    ", weight "
    ", origin "
    "FROM cars_table "
    "WHERE 1=1 "
    "AND year > 80 "
    "AND mpg > 30"
)

┌───────┬────────┬────────┐
│ year  │ weight │ origin │
│ int64 │ int64  │ int64  │
├───────┼────────┼────────┤
│    81 │   1755 │      3 │
│    81 │   1875 │      1 │
│    81 │   1760 │      3 │
│    81 │   2065 │      3 │
│    81 │   1975 │      3 │
│    81 │   2050 │      3 │
│    81 │   1985 │      3 │
│    81 │   2215 │      1 │
│    81 │   2045 │      1 │
│    81 │   2190 │      2 │
│     · │     ·  │      · │
│     · │     ·  │      · │
│     · │     ·  │      · │
│    82 │   2245 │      3 │
│    82 │   1965 │      3 │
│    82 │   1965 │      3 │
│    82 │   1995 │      3 │
│    82 │   3015 │      1 │
│    82 │   2665 │      3 │
│    82 │   2370 │      1 │
│    82 │   2130 │      2 │
│    82 │   2295 │      1 │
│    82 │   2720 │      1 │
├───────┴────────┴────────┤
│   35 rows (20 shown)    │
└─────────────────────────┘

In [99]:
duckdb.query(
    "SELECT name"
    ", weight "
    ", origin "
    ", displacement "
    "FROM cars_table as t "
    "WHERE 1=1 "
    "AND t.displacement < 300 "
    "AND (t.name LIKE '%ford%' OR t.name LIKE '%datsun%')"
)

┌──────────────────────┬────────┬────────┬──────────────┐
│         name         │ weight │ origin │ displacement │
│       varchar        │ int64  │ int64  │    double    │
├──────────────────────┼────────┼────────┼──────────────┤
│ ford maverick        │   2587 │      1 │        200.0 │
│ ford pinto           │   2046 │      1 │         98.0 │
│ ford torino 500      │   3302 │      1 │        250.0 │
│ ford mustang         │   3139 │      1 │        250.0 │
│ ford pinto runabout  │   2226 │      1 │        122.0 │
│ ford pinto (sw)      │   2395 │      1 │        122.0 │
│ ford maverick        │   3021 │      1 │        250.0 │
│ ford pinto           │   2310 │      1 │        122.0 │
│ ford maverick        │   2875 │      1 │        200.0 │
│ ford pinto           │   2451 │      1 │        122.0 │
│     ·                │     ·  │      · │          ·   │
│     ·                │     ·  │      · │          ·   │
│     ·                │     ·  │      · │          ·   │
│ datsun 200-sx        │   2405 │      3 │        119.0 │
│ datsun 210           │   2020 │      3 │         85.0 │
│ datsun 310           │   2019 │      3 │         86.0 │
│ datsun 510 hatchback │   2434 │      3 │        119.0 │
│ datsun 210           │   2110 │      3 │         85.0 │
│ datsun 280-zx        │   2910 │      3 │        168.0 │
│ datsun 210 mpg       │   1975 │      3 │         85.0 │
│ datsun 200sx         │   2615 │      3 │        119.0 │
│ datsun 810 maxima    │   2930 │      3 │        146.0 │
│ datsun 310 gx        │   1995 │      3 │         91.0 │
├──────────────────────┴────────┴────────┴──────────────┤
│ 54 rows (20 shown)                          4 columns │
└───────────────────────────────────────────────────────┘